#container {
  display: grid;
  grid-template-areas: 
    "nav nav nav nav nav nav nav nav nav nav nav nav"
    "header header header header header header header header header header header header"
    "form form form form form form form form form form form form"
    "banner banner banner banner banner banner banner banner banner banner banner banner"
    "PC PC PC PC PC PC Playstaion Playstaion Playstaion Playstaion Playstaion Playstaion"
    "Nitendo Nitendo Nitendo Nitendo Nitendo Nitendo Xbox Xbox Xbox Xbox Xbox Xbox"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  grid-template-rows: auto 1fr auto;
  width: 100%;
  margin: auto;
  background-color: rgb(167, 167, 172);
}

nav {
  grid-area: nav;
  background-color: rgb(9, 44, 109);
  padding: 10px;
  text-align: center;
  top: 10px;
  position: sticky;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 1.5em;
}

nav li a {
  color: white;
}

nav .active {
  background-color: rgb(0, 160, 199);
  padding: 10px;
  color: white;
}

header {
  grid-area: header;
  text-align: center;
}
.form {
  grid-area: form;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
  display: flex;
  justify-content: center;
}
#email
{
    height:100px, auto;
    font-size:14pt;
}
.btn {
  text-align: center;
  width: 20%;
  background: #ffc847;
  background-image: linear-gradient(to bottom, #ffc847, #b08b33);
  border-radius: 60px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-top: 15px;
  text-decoration: none;
  margin-right: 1%;
  transition-duration: 2s;
}

.btn:hover {
  background: #f2e9d3;
  background-image: linear-gradient(to bottom, #f2e9d3, #faf8f2);
  text-decoration: none;
  transform: scaleX(1.5);
  transform: scaleY(1.5);
}

.button {
  text-align: center;
  width: 15%;
  background: #009fc7;
  background-image: linear-gradient(to bottom, #009fc7, #00627a);
  border-radius: 60px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transition-duration: 2s;
}

.button:hover {
  background: #aad8e3;
  background-image: linear-gradient(to bottom, #aad8e3, #cce9f0);
  text-decoration: none;
  transform: scaleX(1.5);
  transform: scaleY(1.5);
}
.banner {
  grid-area: banner;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img[alt~=Controller] {
  width: 100%;
  height: auto;
  margin: 0.5em;
}

.PC {
  grid-area: PC;
}
.PC h1{
	text-align: center;
}
.PC img[alt~=PC] {
  display: block; /* Make the image a block element */
  width: 50%;
  height: auto;
  margin: 0.5em auto; /* Center the image horizontally */
}

.Playstaion {
  grid-area: Playstaion;
}

.Playstaion h1 {
  text-align: center;
}

.Playstaion img[alt~=Playstaion] {
  display: block;
  width: 50%;
  height: auto;
  margin: 0.5em auto;
}

.Nitendo {
  grid-area: Nitendo;
}
.Nitendo h1 {
  text-align: center;
}
.Nitendo img[alt~=Nitendo] {
  display: block;
  width: 50%;
  height: auto;
  margin: 0.5em auto;
}

.Xbox {
  grid-area: Xbox;
}
.Xbox h1 {
  text-align: center;
}
.Xbox img[alt~=Xbox] {
  display: block;
  width: 50%;
  height: auto;
  margin: 0.5em auto;
}

footer {
  grid-area: footer;
  background-color: rgb(9, 44, 109);
}

