<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<username>Create Account</username>
	<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>

	<h1 th:if="${user.id == null}">Add New User</h1>
	<h1 th:if="${user.id != null}">Update User</h1>

	<form th:action="@{/users/save}" th:object="${user}" method="post">
		<input type="hidden" th:field="*{id}" />
		<!-- Hidden field to carry shelfId -->
		<input type="hidden" th:name="shelfId" th:value="${user.shelf.id}" />
		<div class="form-group">
			<label for="username">UserName:</label>
			<input type="text" id="username" th:field="*{username}" maxlength="100" required />
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="text" id="password" th:field="*{password}" maxlength="100" required />
		</div>
		<center>
			<button type="submit" class="nav-button">Submit</button>
			<a th:if="${user.shelf != null and user.shelf.id != null}"
				th:href="@{/shelves/view/{id}(id=${user.shelf.id})}" class="back-button">Cancel</a>
		</center>
	</form>

</body>

</html>