<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Spring Web App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
<div id="container">
    <nav>
        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/catalog}" class="active">Catalog</a></li>
            <li><a th:href="@{/register}">Register</a></li>
            <li><a th:href="@{/review}">Add Reviews</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to the Catalog</h1>
    </header>
    <section class="PC">
        <h1>PC Game Shelf</h1>
        <a th:href="@{/pc-games.html}" target="_blank">
            <img th:src="@{/pcgame.jpg}" alt="PC">
        </a>
    </section>
    <section class="PlayStation">
        <h1>Sony Game Shelf</h1>
        <a th:href="@{/templates/sony-games.html}" target="_blank">
            <img th:src="@{/playstation.jpg}" alt="PlayStation">
        </a>
    </section>
    <section class="Nintendo">
        <h1>Nintendo Game Shelf</h1>
        <a th:href="@{/nintendo-games.html}" target="_blank">
            <img th:src="@{/nintendo.jpg}" alt="Nintendo">
        </a>
    </section>
    <section class="Xbox">
        <h1>Microsoft Game Shelf</h1>
        <a th:href="@{/templates/microsoft-games.html}" target="_blank">
            <img th:src="@{/xbox.jpg}" alt="Xbox">
        </a>
    </section>
    <section class="Mobile">
        <h1>Mobile Game Shelf</h1>
        <a th:href="@{/templates/mobile-games.html}" target="_blank">
            <img th:src="@{/mobile.jpg}" alt="Mobile">
        </a>
    </section>
    <section class="VR">
        <h1>VR Game Shelf</h1>
        <a th:href="@{/templates/vr-games.html}" target="_blank">
            <img th:src="@{/vr.jpg}" alt="VR">
        </a>
    </section>
    <footer>
        <p>&copy; 2023 Game Review Hub. All rights reserved.</p>
    </footer>
</div>
</body>

</html>