<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>My Spring Web App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div id="container">
    <nav>
        <ul>
            <li><a th:href="@{/index}">Home</a></li>
            <li><a th:href="@{/catalog}">Catalog</a></li>
            <li><a th:href="@{/register}" class="active">Register</a></li>
            <li><a th:href="@{/review}">Add Reviews</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
        </ul>
    </nav>
    <header>
        <h1>New Users Register here!!!</h1>
    </header>
    <div class="form">
        <form>
            <section class="info">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required id="email">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            </section>
            <input type="submit" value="Submit" class="btn">
            <label>
                <input type="reset" value="clear" class="button">
            </label>
        </form>
    </div>
    <div class="map">
        <footer>
            <p>&copy; 2023 Game Review Hub. All rights reserved.</p>
        </footer>
    </div>
</div>
</body>
</html>
