<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>My Spring Web App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div id="container">
          <nav>
		    <ul>
		        <li><a th:href="@{/index}">Home</a></li>
		        <li><a th:href="@{/catalog}">Catalog</a></li>
		        <li><a th:href="@{/register}">Register</a></li>
		        <li><a th:href="@{/review}" class="active">Add Reviews</a></li>
		        <li><a th:href="@{/contact}">Contact Us</a></li>
		    </ul>
		</nav>
		<footer>
			<p>&copy; 2023 Game Review Hub. All rights reserved.</p>
		</footer>
    </div>

</body>
</html>